body{
    font-family: Arial, Helvetica, sans-serif;
    height: 100vh;
    margin: 0;
    background-color: #4a0303;
}

h1{
    color:blueviolet;
    text-align: center;
    border: 2px solid white;
    background-color: rgb(31, 2, 2);
    border-radius: 30px;
    padding: 10px;
}

h2{
    text-align: center;
    text-transform: uppercase;  
}

p{
    text-align: justify;
}

.container{
   text-align: center;  
}

.botao{
   background-color: #4caf50;/* Cor de fundo */
   border: none; /* Sem borda */
   color: white; /* Cor do texto */
   padding: 15px 32px;/* Espaçamento interno */
   text-align: center;/* Alinhamento do texto */
   text-decoration: none; /* Sem sublinhado */
   display: inline-block;/* Display em linha */
   font-size: 16px;/* Tamanho da fonte */
   margin: 4px 2px;/* Margem */
   cursor: pointer;/* Cursor de ponteiro ao passar o mouse */
   border-radius: 12px;/* Borda arredondada */
   transition: background-color 0.3s ease;/* Transição suave ao passar o mouse */

}
.botao:hover{
    background-color: #5e685e;/* Cor de fundo ao passar o mouse */
    transform: scale(1.1);
}

.imagem-estilizada {
    width: 200px; /* Largura da imagem */
    height: auto; /* Altura automática para manter a proporção */
    border-radius: 15px; /* Bordas arredondadas */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Sombra */
    transition: transform 0.3s ease, filter 0.3s ease; /* Transição suave */
}

.imagem-estilizada:hover {
    transform: scale(1.1); /* Aumenta a imagem em 10% */
    filter: brightness(1.2); /* Aumenta o brilho da imagem */

